doctype html
| <!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
| <!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
| <!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
| <!--[if gt IE 8]><!-->
html.no-js
  | <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block title
      title EARVI | The sound empowered by AI
    meta(name="description", content="EARVI’s technology gives the ability to enjoy the sound like never before")
    meta(name="viewport", content="width=device-width")
    meta(property="og:title" content="EARVI | The sound empowered by AI")
    meta(property="og:site_name" content="EARVI")
    meta(property="og:description" content="EARVI’s technology gives the ability to enjoy the sound like never before")
    meta(property="og:url", content="http://http://35.157.199.79/")
    meta(property="og:image" content=require('images/share.png'))
    meta(property="og:image:secure_url" content=require('images/share.png'))
    meta(property="og:image:width" content="700")
    meta(property="og:image:height" content="500")
    meta(property="og:type" content="article")
    link(rel="shortcut icon", href=require('images/favicon/favicon.ico?'))
    link(rel="apple-touch-icon" sizes="57x57" href=require("images/favicon/apple-touch-icon.png"))
    link(rel="icon" type="image/png" sizes="192x192"  href=require("images/favicon/android-chrome-192x192.png"))
    link(rel="icon" type="image/png" sizes="192x192"  href=require("images/favicon/android-chrome-256x256.png"))
    link(rel="icon" type="image/png" sizes="32x32" href=require("images/favicon/favicon-32x32.png"))
    link(rel="icon" type="image/png" sizes="16x16" href=require("images/favicon/favicon-16x16.png"))
    link(rel="manifest" href="images/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content=require("images/favicon/mstile-150x150.png"))
    meta(name="theme-color" content="#ffffff")
    block head

  body
    block content
